/* src/assets/main.css */

/* Tailwind's base styles */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

body {
    @apply bg-zinc-800;
}

.button {
    @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600;
}

.input {
    @apply text-white px-1 py-2;
}

.alt-button {
    @apply bg-lime-600 text-white px-4 py-2 rounded hover:bg-lime-700;   
}

.all-unset {
    @apply bg-white text-black;
}

.beenThereTextColor {
    @apply text-amber-600;
}

.wantToGoTextColor {
    @apply text-lime-600;
}

.beenThere {
    @apply bg-amber-600 text-white px-4 py-2 rounded hover:bg-amber-700 shadow-amber-800 shadow-md;
}

.wantToGo {
    @apply bg-lime-600 text-white px-4 py-2 rounded hover:bg-lime-700 shadow-lime-800 shadow-md;
}

.p-drawer-header {
    padding: 0;
}
/* Make the drawer overlay opaque + blurry */
.p-overlay-mask {
    background-color: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(8px) !important;
}  
html,
body,
#app {
  height: 100%;
  margin: 0;
}
